.file-input {
    width: 300px;
    text-align: start;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.clear-image {
    width: 50px;
    border-left: none;
    background-color: transparent;
    color: #F64E60;
    display: block;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid;
    border-radius: 0.375rem;
    margin-left: -50px;
    z-index: 1;
}