.multistep-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
}

.multistep-content {
  flex: 2;
  display: flex;
  padding: 0px 10px 0px 10px;
}

.button-stepper {
  color: #6C757D;
  background-color: transparent;
  border: none;
  opacity: 0.5;
  width: 80px;
  min-height: 300px;
  border-radius: 5px;
}

.button-stepper:hover {
  opacity: 0.3;
  background-color: #6C757D;
  color: white;
}