.grayBackground {
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    padding: 10px;
}

/* Estilo para o wrapper interno do h2 */
.titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo para a div que contém as informações dos pedidos */
.orderInfoWrapper {
    display: flex;
    flex-wrap: wrap;
}

  
/* Estilo para cada div individual das informações dos pedidos */
.orderInfo {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 10px;
    padding: 10px; /* Adicionar uma margem interna */
    box-sizing: border-box; /* Certifica-se de que o preenchimento não afeta a largura */
    margin-right: 10px; /* Adicionar espaçamento lateral entre as divs das informações do pedido */
    margin-bottom: 10px; /* Adicionar espaçamento vertical entre as divs das informações do pedido */
}

* p {
    color: #000000;
}


  