.container--label {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.label {
  font-size: 15px;
  font-weight: 500;
}

.container--indicators {
  margin-top: -10px;
  margin-left: 10px;
}

.errors {
  color: #FF0000;
  font-size: 13px;
}

.form-control {
  font-size: 15px !important;
}