.p-dropdown {
  height: 37px;
  padding: 4px 8px;
  min-width: auto;
  align-items: center;
}

.p-dropdown:not(.p-disabled).p-focus {
  border-color: #86B7FE;
  box-shadow: 0 0 0 1px #86B7FE;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  height: 37px;
  padding: 4px 8px;
  min-width: auto;
  align-items: center;
  border-color: #86B7FE;
  box-shadow: 0 0 0 1px #86B7FE;
}