@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

.classic-button {
  border: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 7px 15px;
  cursor: pointer;
}

.button-icon {
  margin-right: 10px;
}

.button-text {
  flex: 1;
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}