.container {
    margin-top: 1%;
}

.title {
    margin-left: -10%;
    margin-bottom: 1%;
}

.alert {
    margin-left: -16%;
}

.content {
    margin-left: -10%;
    margin-top: -2.5%;
}

.content-children {
}