.card-content {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.content-children {
    margin-bottom: 3%;
}

.card-title {
    font-weight: bold;
    font-size: 25px;
}

.card-buttons {
    display: flex;
    gap: 10px;
}