.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-children {
    margin-bottom: 3%;
}

.card-title {
    font-weight: bold;
    font-size: 25px;
}

.card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}