.sidebar-content {
  height: 600px;
}

.sidebar-content ::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey; 
  border-radius: 10px;
}
 
.sidebar-content ::-webkit-scrollbar-thumb {
  background:#8aaadb; 
  border-radius: 10px;
}

.sidebar-content ::-webkit-scrollbar-thumb:hover {
  background:#8aaadb; 
}