.sidebar-content {
  height: 600px;
}

.sidebar-content ::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #F1F1F1; 
  border-radius: 10px;
}
 
.sidebar-content ::-webkit-scrollbar-thumb {
  background:#C1C1C1; 
  border-radius: 10px;
}

.sidebar-content ::-webkit-scrollbar-thumb:hover {
  background:#C1C1C1; 
}